<a class="embedded-tweet-anchor" href="https://twitter.com/{{user.username}}/status/{{id}}">
    <section class="embedded-tweet-container" style="page-break-inside: avoid;">
    <div class="embedded-tweet-container__header">
        <img src="{{user.profile_image_url}}" />
        <span class="embedded-tweet-container__header__name">
        <b>
            {{user.name}}
        </b>
        </span>
        <span class="embedded-tweet-container__header__userhandle">
        {{user.username}}
        </span>
        <span class="flex"></span>
        {{#if created_at}}
            <span class="embedded-tweet-container__header__timestamp">
                {{created_at}}
            </span>
        {{/if}}
    </div>
    <div class="embedded-tweet-container__body">
        {{{tweet}}}
    </div>
    {{#if customMedia}}
    {{#each customMedia}}
    {{#if this}}
    {{#each this}}
    <div class="embedded-tweet-container__body__image-container" style="page-break-inside: avoid;">
        <a href="{{link}}">
        <img src="{{preview_img_url}}" />
        </a>
    </div>
    {{/each}}
    {{/if}}
    {{/each}}
    {{/if}}
    </section>
</a>
{{#if this.answer}}
    {{> tweet-partial this.answer}}
{{/if}}