<section class="embedded-tweet-container" style="text-indent: {{levelcalculator level}}px">
    <div class="embedded-tweet-container__header">
        <a href="https://news.ycombinator.com/user?id={{username}}">
            <span class="embedded-tweet-container__header__name">
            <b>
                {{username}}
            </b>
            </span>
        </a>
        <span class="flex"></span>
        {{#if created_at}}
            <span class="embedded-tweet-container__header__timestamp">
                {{created_at}}
            </span>
        {{/if}}
    </div>
    <div class="embedded-tweet-container__body">
        {{{text}}}
    </div>
</section>
{{#if comments}}
    {{#each comments}}
    <li>
        {{> comment-partial this}}
    </li>
    {{/each}}
{{/if}}